
.container{

    border:4px solid gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.star_container{

    display: flex;
    gap:1rem;
    border:3px solid greenyellow;
    padding:5px;

}

.star{
    font-size:  2rem;
}

.yellow {
    color:goldenrod;
}