.movieList{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox form{
    width: 50%;
    text-align: center;
    margin: 10px;
}


.searchBox input {

    width: 50%;
    margin: 0 auto;
    height: 2.5rem;
    border-radius: 2px;
}

